.veproducts {
    flex: 1;

    .loading {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        text-transform: capitalize;
        height: 80px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f54749;
    }

    .error {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0000002e;

        .errorwrapper {
            border-radius: 5px;
            padding: 20px 50px 20px 20px;
            position: relative;
            background-color: #fff;

            h3 {
                color: #f54749;
            }

            .close {
                position: absolute;
                top: 5px;
                right: 5px;
                background-color: #f54749;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
                user-select: none;
                transition: 0.3s;

                &:hover {
                    background-color: #f17b7d;
                }
            }
        }
    }

    .ee {
        color: #f54749;
        margin-top: 60px;
        text-align: center;
        font-size: 20px;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        justify-content: center;

        .product {
            box-shadow: 0 0 10px #dadada;
            border-radius: 10px;
            display: flex;
            width: 180px;
            flex-direction: column;
            gap: 5px;
            height: fit-content;

            .img {
                width: 100%;
                height: 120px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px 10px 0 0;
                    object-fit: cover;
                }
            }

            h2 {
                font-size: 16px;
                padding: 0 10px;
                color: #f54749;
                margin-top: 3px;
            }

            .details {
                display: flex;
                gap: 20px;
                padding: 0 10px;

                h3 {
                    font-size: 14px;

                    &:first-child {
                        color: #a0a0a0;
                    }

                    span {
                        color: #f54749;
                        margin-left: 1px;
                    }

                }

            }

            .visibility {
                width: fit-content;
                border: 2px solid;
                margin: 5px 0 10px 10px;
                border-radius: 5px;
                background-color: initial;
                user-select: none;
                cursor: pointer;
                transition: 0.3s;

                &:disabled {
                    cursor: wait;
                }
            }

            .hide{
                border-color: #a0a0a0;
                color: #a0a0a0;

                &:hover{
                    border-color: #000;
                    color: #000;
                }
            }

            .show{
                border-color: rgb(0, 153, 204);
                color: rgb(0, 153, 204);

                &:hover{
                    background-color: rgb(0, 153, 204);
                    color: #fff;
                }
            }

            .buttons {
                padding: 0 10px;
                display: flex;
                gap: 10px;
                margin-top: 7px;

                button {
                    background-color: initial;
                    outline: none;
                    border: none;
                    font-size: 16px;
                    border: 2px solid;
                    border-radius: 5px;
                    transition: 0.3s;
                    cursor: pointer;
                    font-size: 14px;
                    text-transform: capitalize;

                    &:disabled {
                        cursor: wait;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                        padding: 5px 10px;

                        &:hover {
                            color: inherit;
                        }
                    }

                    &:first-child {
                        border-color: rgb(242, 147, 57);
                        color: rgb(242, 147, 57);

                        &:hover {
                            background-color: rgb(242, 147, 57);
                            color: #fff;
                        }
                    }

                    &:last-child {
                        border-color: rgb(255, 87, 51);
                        color: rgb(255, 87, 51);

                        &:hover {
                            background-color: rgb(255, 87, 51);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

}