.chef{
    display: flex;

    .logout {
        padding: 10px 20px;
        border-radius: 5px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 20px;
        box-shadow: 0 0 5px #dadada;
        transition: 0.3s;
        cursor: pointer;
        user-select: none;

        &:hover{
            background-color: #f54749;
            color: #fff;
        }
    }
}