.createorders {
    flex: 1;

    .empty {
        color: #f54749;
        margin-top: 60px;
        text-align: center;
        font-size: 20px;
    }

    h1 {
        text-transform: capitalize;
        height: 80px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f54749;
    }

    .sloading{
        width: 30px !important;
        height: 30px !important;
        margin-top: 10px;
    }

    .loading {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        padding: 0 15px;
        display: flex;
        gap: 15px;

        .l {
            flex: 3;

            .filter {
                display: flex;
                gap: 15px;
                justify-content: center;

                .searchcontainer {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 10px;
                    background-color: #f7f7f7;
                    border-radius: 15px;
                    gap: 5px;
                    color: #444444;
                    align-items: center;

                    .icon {
                        font-size: 20px;
                    }

                    input {
                        outline: none;
                        border: none;
                        background-color: initial;
                        color: #444444;
                    }
                }

                select {
                    outline: none;
                    border: none;
                    padding: 5px 30px;
                    border-radius: 15px;
                    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 5"><path d="M5 5l5-5H0z" fill="%23000000"/></svg>') no-repeat right 10px center;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none;
                    background-color: #f7f7f7;
                }
            }

            .products {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                padding: 15px;
                justify-content: center;

                .product {
                    box-shadow: 0 0 10px #dadada;
                    border-radius: 10px;
                    display: flex;
                    width: 180px;
                    flex-direction: column;
                    gap: 5px;
                    height: fit-content;
                    align-items: center;

                    h4 {
                        margin-top: 5px;
                        margin-bottom: 15px;
                        color: #f54749;
                    }

                    .img {
                        width: 100%;
                        height: 120px;
                        margin: 0 auto;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px 10px 0 0;
                            object-fit: cover;
                        }
                    }

                    h2 {
                        font-size: 16px;
                        color: #f54749;
                        margin-top: 3px;
                    }

                    .details {
                        display: flex;
                        gap: 20px;
                        margin-bottom: 3px;

                        h3 {
                            font-size: 14px;

                            &:first-child {
                                color: #a0a0a0;
                            }

                            span {
                                color: #f54749;
                                margin-left: 1px;
                            }

                        }
                    }

                    button {
                        padding: 5px 10px;
                        border-radius: 5px;
                        white-space: nowrap;
                        cursor: pointer;
                        user-select: none;
                        width: fit-content;
                        border: none;
                        outline: none;
                        margin-bottom: 10px;
                        background-color: initial;
                        border: 2px solid #f54749;
                        color: #f54749;
                        transition: 0.3s;

                        &:hover {
                            background-color: #f54749;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .r {
            flex: 1;
            height: fit-content;
            margin-top: 45px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .in {
                border: 2px solid #dadada;
                padding: 15px;

                .select {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-top: 10px;
                    text-transform: capitalize;

                    select {
                        outline: none;
                        border: 2px solid #dadada;
                        background-color: initial;
                        font-size: 15px;
                        padding: 5px;
                    }
                }


                h2 {
                    color: #f54749;
                }

                .items {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin: 10px 0;

                    .empty {
                        text-align: left;
                        margin-top: 0;
                        font-size: 16px;
                    }

                    .item {
                        padding: 10px;
                        border-radius: 10px;
                        display: flex;
                        box-shadow: 0 0 10px #dadada;

                        .img {
                            height: 40px;
                            margin-right: 10px;

                            img {
                                height: 100%;
                                border-radius: 10px;
                            }
                        }

                        .content {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            p {
                                font-weight: 500;
                                font-size: 14px;
                            }
                        }

                        .quantity {
                            display: flex;
                            margin-left: auto;
                            gap: 10px;
                            align-items: center;

                            .control {
                                color: #f54749;
                                border: 2px solid #f54749;
                                height: 20px;
                                width: 20px;
                                display: flex;
                                justify-content: center;
                                border-radius: 5px;
                                transition: 0.1s;
                                user-select: none;
                                cursor: pointer;

                                &:active {
                                    background-color: #f54749;
                                    color: #fff;
                                }
                            }

                            p {
                                font-weight: 500;
                                font-size: 14px;
                            }
                        }
                    }
                }

                .total {
                    display: flex;
                }

                .buttons {
                    display: flex;
                    gap: 10px;
                    margin-top: 10px;

                    button {
                        outline: none;
                        border: none;
                        background-color: initial;
                        border: 2px solid;
                        padding: 5px 10px;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 0.3s;
                        text-transform: capitalize;
                        font-size: 16px;

                        &:first-child {
                            color: rgb(0, 153, 204);
                            border-color: rgb(0, 153, 204);

                            &:disabled {
                                cursor: not-allowed;
                            }

                            &:hover {
                                background-color: rgb(0, 153, 204);
                                color: #fff;
                            }
                        }

                        &:last-child {
                            color: #f54749;
                            border-color: #f54749;

                            &:disabled {
                                cursor: not-allowed;
                            }

                            &:hover {
                                background-color: #f54749;
                                color: #fff;
                            }
                        }

                    }
                }
            }
        }
    }
}