.addedittable {
    flex: 1;

    .arrow {
        width: 45px;
        height: 30px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #a0a0a0;
        color: #a0a0a0;
        transition: 0.3s;

        &:hover{
            border-color: #2e2e2e;
            color: #2e2e2e;
        }
    }

    .loading {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        text-transform: capitalize;
        height: 80px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f54749;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 250px;
            height: fit-content;
            padding: 20px;
            box-shadow: 0 0 10px #dadada;
            margin-top: 20px;
            border-radius: 10px;

            button{
                width: fit-content;
                padding: 5px 20px;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
                transition: 0.3s;
                font-size: 18px;
                margin: 0 auto;
                border: none;
                background-color: initial;
                border:2px solid;

                &:disabled{
                    cursor: not-allowed;
                }

                &.edit{
                    border-color: #F29339;
                    color: #F29339;

                    &:hover{
                        background-color: #F29339;
                        color: #fff;
                    }
                }

                &.add{
                    border-color: #f54749;
                    color: #f54749;

                    &:hover{
                        background-color: #f54749;
                        color: #fff;
                    }
                }
            }

            label {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                width: 100%;
                font-size: 20px;

                .input {
                    display: flex;
                    align-items: center;
                    border-bottom: 2px solid #dadada;
                    justify-content: space-between;
                    margin-top: 5px;

                    input {
                        outline: none;
                        border: none;
                        font-size: 16px;
                        -moz-appearance: textfield;
                    }
                
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                }

            }
        }


    }


}